.home-header {
    background-color: #5cb85c;
    text-align: center;
    padding: 20px 0px;
    height: auto;

}

.home-header h1, .home-header p {
    color: white;
}
.home-header h1{
    font-size: 7vh;
}
.home-header p{
    font-size: 3vh;
}
.home-body {
    display: flex;
    justify-content: space-between;
}
.home-body .home-body-right{
    width: 30%;
    margin-top: 20px;
}

.menu__list {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #aaa;
}

.menu__item {
    padding: 8px 16px;
    cursor: pointer;
}

.menu__item.active {
    border-bottom: 2px solid #5cb85c;
}

.home-body-center {
    width: 68%;
}
