/* .main{
    padding-left: -24px;
}
.main .profile{
    width: 60%;
}

.main .click{
    width: 30%;
} */
.main{
    /* margin: 6px -24px; */
    margin: 0 -24px;
}
.img{
    width: 100px;
    height: 100px;
}
.menu__list {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #aaa;
}

.menu__item {
    padding: 8px 16px;
    cursor: pointer;
}

.menu__item.active {
    border-bottom: 2px solid #5cb85c;
}

